h1 {
    background: rgb(136, 57, 12);
}
img {
    max-width: 400px;
    height: auto;
}
h2 {
    background: rgb(28, 161, 201);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background: grey;
    color:aliceblue;
}